.tiles
{
    /* min-height:40vh; */
    /* height: 30vw;
    width: 100%; */
    margin-bottom: 10px;
    /* padding: 10px 5px 5px 10px; */
    border: 1px solid greenyellow;
    border-radius: 0;
    font-size: 88%;
    /* background-color: rgba(0, 255, 13,.3); */
}
body{
    word-wrap: break-word !important;
}
.ch
{
    color:black;
    font-weight: bold;
}
.tiles:hover .ch
{
    color: green;
}
.tiles:hover
{
    border: 1px solid green;
}
.card
{
    border-radius: 0 !important;
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}
.cbodytext
{
    font-size: 1em;

}
.zp
{
    padding: 0px;
}
.lp
{
    padding: 4px;
}
@media only screen and (max-width: 1200px) {
    .lp {
        padding: 3px;
    }
    .tiles {
        /* width: 100%;
        overflow: hidden;
        height: 40vw; */
        margin-bottom: 10px;
        /* padding: 10px 5px 5px 10px; */
        border: 1px solid greenyellow;
        border-radius: 0;
        font-size: 60%;
        word-wrap: break-word !important;
        /* background-color: rgba(0, 255, 13,.3); */
    }
    div>h5 {
        font-size: 150%;
        padding: 5px;
    }
}
@media only screen and (max-width: 900px) {
    .lp {
        padding: 3px;
    }
    .tiles {
        /* width: 100%;
        overflow: hidden;
        height: 40vw; */
        margin-bottom: 10px;
        /* padding: 10px 5px 5px 10px; */
        border: 1px solid greenyellow;
        border-radius: 0;
        font-size: 49%;
        word-wrap: break-word !important;
        /* background-color: rgba(0, 255, 13,.3); */
    }
    div>h5 {
        font-size: 150%;
        padding: 5px;
    }
}
@media only screen and (max-width: 750px) {
    .lp {
        padding: 3px;
    }
    .tiles {
        /* width: 100%;
        overflow: hidden;
        height: 40vw; */
        margin-bottom: 10px;
        /* padding: 10px 5px 5px 10px; */
        border: 1px solid greenyellow;
        border-radius: 0;
        font-size: 90%;
        word-wrap: break-word !important;
        /* background-color: rgba(0, 255, 13,.3); */
    }
    div>h5 {
        font-size: 130%;
        padding: 5px;
    }
}
@media only screen and (max-width: 600px) {
    .lp {
        padding: 3px;
    }
    .tiles {
        /* width: 100%;
        overflow: hidden;
        height: 40vw; */
        margin-bottom: 10px;
        /* padding: 10px 5px 5px 10px; */
        border: 1px solid greenyellow;
        border-radius: 0;
        font-size: 56%;
        word-wrap: break-word !important;
        /* background-color: rgba(0, 255, 13,.3); */
    }
    div>h5 {
        font-size: 180%;
        padding: 5px;
    }
}

@media only screen and (max-width: 400px) {
    .lp {
        padding: 3px;
    }
    .tiles {
        /* width: 100%;
        height: 40vw; */
        /* overflow: auto; */
        margin-bottom: 10px;
        word-wrap: break-word !important;

        /* padding: 10px 5px 5px 10px; */
        border: 1px solid greenyellow;
        border-radius: 0;
        font-size: 45%;
        /* background-color: rgba(0, 255, 13,.3); */
    }
    div>h5 {
        font-size: 120%;
        padding: 8px;
    }
}