.tiles
{
    margin-bottom: 10px;
    border: 1px solid greenyellow;
    border-radius: 0;
    font-size: .95vw;
    /* background-color: rgba(0, 255, 13,.3); */
}
div>h5 {
    font-size: 1.3vw;
    padding: 5px;
}
body{
    word-wrap: break-word !important;
}
.ch
{
    color:black;
    font-weight: bold;
}
.tiles:hover .ch
{
    color: green;
}
.tiles:hover
{
    border: 1px solid green;
}
.card
{
    border-radius: 0 !important;
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}
.cbodytext
{
    font-size: 1em;

}
.zp
{
    padding: 0px;
}
.lp
{
    padding: 4px;
}

@media only screen and (max-width: 764px) {
    .lp {
        padding: 5px;
    }
    .tiles {
        margin-bottom: 10px;
        border: 1px solid greenyellow;
        border-radius: 0;
        font-size: 2.5vw;
        word-wrap: break-word !important;
    }
    div>h5 {
        font-size: 3vw;
        padding: 5px;
    }
}
@media only screen and (max-width: 430px) {
    .lp {
        padding: 3px;
    }
    .tiles {
        margin-bottom: 10px;
        border: 1px solid greenyellow;
        border-radius: 0;
        font-size: 2vw;
        word-wrap: break-word !important;
    }
    div>h5 {
        font-size: 3vw;
        padding: 5px;
    }
}