a {
  text-decoration: none;
  color: blue;
}
.breadcrumb-item {
  font-size: 1em;
}
body {
  word-wrap: break-word !important;
  background-size: cover;
  background-attachment: fixed;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.active-pink-2 input[type='text']:focus:not([readonly]) {
  border-bottom: 1px solid #f48fb1;
  box-shadow: 0 1px 0 0 #f48fb1;
}
.fp {
  display: flex;
  align-items: center;
}
.fc {
  justify-self: center;
}
.mzpz {
  margin: 0px;
  padding: 0px;
}
.zp {
  padding: 0px;
  word-wrap: break-word !important;
}
.cbodytext {
  word-wrap: break-word !important;
}
.card {
  border-radius: 0 !important;
}
.searchicon {
  color: green;
}
.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}
.pt {
  font-size: 100%;
}
.searchButton {
  height: 40px;
  text-align: center !important;
  border: 1px solid green;
  background: green;
  color: #fff;
  border-radius: 0px;
  cursor: pointer;
  font-size: 2em;
  padding: 0px !important;
  margin: 0px !important;
}
@media only screen and (max-width: 600px) {
  .breadcrumb-item {
    font-size: 1.5em;
  }
  .breadcrumb-item::before {
    font-size: 0.6em;
  }
  .pt {
    font-size: 60%;
  }
}
