.bimg:hover .ch {
  color: green;
}
.bimg:hover .chb {
  color: green;
}
.grid-container {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: auto auto auto auto;
}
.vids {
  height: 10vw;
  width: 20vw;
}
.equalHMWrap {
  justify-content: space-between;
}
.eqWrap {
  display: flex;
  flex-wrap: wrap;
}

.equalHM {
  width: 24%;
}

.eq {
  padding: 7px;
}

.chb {
  color: black;
  font-size: 4vw;
  padding: 6px 15px 0px 5px;
  word-wrap: break-word !important;
}
.chbd {
  background: rgba(255, 255, 255, 0.7);
}
.business {
  margin-bottom: 0px;
  padding: 2px;
  border: 1px solid greenyellow;
  border-radius: 0;
  font-size: 1.3vw;
  text-align: left;
  word-wrap: break-word !important;
}

.img-list-img {
  padding: 5px;
  flex-direction: column;
}
.img-list-sm {
  padding: 5px;
  display: flex;
}
.img-list-img-sm {
  word-wrap: 'break-word !important';
  font-size: '70%';
  padding: 5px;
  flex-direction: column;
}
.img-list-img-sm:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}
.bph {
  font-weight: bold;
}

.bpch {
  color: green;
  margin: 0px !important;
  word-wrap: 'break-word !important';
  font-weight: bold;
}
.bpc {
  margin: 5px;
  padding: 5px;
}
.lpb {
  padding: 0px;
  word-wrap: break-word !important;
}
.bw {
  word-wrap: break-word !important;
  font-size: 0.95vw;
}
.imgcol {
  margin-top: 2.6%;
}
@media only screen and (max-width: 1265px) {
  .business {
    font-size: 0.85vw;
    padding-right: 7px;
  }
  .bw {
    font-size: 0.9vw;
  }
  .imgcol {
    margin-top: 5%;
  }
}
@media only screen and (max-width: 991px) {
  .vids {
    height: 13vw;
    width: 26vw;
  }
  .business {
    font-size: 1.3vw;
    padding-right: 7px;
  }
  .bw {
    font-size: 1.1vw;
  }
  .imgcol {
    margin-top: 5%;
  }
}
@media only screen and (max-width: 767px) {
  .business {
    font-size: 2.7vw;
    padding-right: 7px;
  }
  .bw {
    font-size: 1.5vw;
  }
  .vids {
    height: 18vw;
    width: 36vw;
  }
}
@media only screen and (max-width: 550px) {
  .vids {
    height: 20vw;
    width: 40vw;
  }
}
@media only screen and (max-width: 505px) {
  .vids {
    height: 30vw;
    width: 60vw;
  }
}
@media only screen and (max-width: 400px) {
  .business {
    font-size: 2.8vw;
    padding-right: 7px;
  }
  .bw {
    font-size: 1.7vw;
  }
}

._5p {
  padding: 5px;
}
.tiles_tb {
  margin-bottom: 0px;
  border-radius: 0;
  text-align: left;
  word-wrap: break-word !important;
}
.tbi {
  min-height: 160px;
}

.lp_tb {
  padding: 1px 3px 5px 5px;
  word-wrap: break-word !important;
}
@media only screen and (max-width: 1268px) {
  .tiles_tb {
    padding-right: 7px;
  }
}
@media only screen and (max-width: 1199px) {
  .tiles_tb {
    font-size: 1.4vw;
    padding-right: 7px;
  }
}
@media only screen and (max-width: 962px) {
  .tiles_tb {
    font-size: 1.6vw;
    padding-right: 7px;
  }
}
@media only screen and (max-width: 767px) {
  .tiles_tb {
    font-size: inherit;
    padding-right: 7px;
  }
} /*
@media only screen and (max-width: 700px) {
  .tiles_tb {
    font-size: 3vw;
    padding-right: 7px;
  }
}
@media only screen and (max-width: 400px) {
  .tiles_tb {
    font-size: 3vw;
    padding-right: 7px;
  }
} */
