.bimg:hover .ch {
  color: green;
}
.bimg:hover .chb {
  color: green;
}
.grid-container {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: auto auto auto auto;
}

.equalHMWrap {
  justify-content: space-between;
}
.eqWrap {
  display: flex;
  flex-wrap: wrap;
}

.equalHM {
  width: 24%;
}

.eq {
  padding: 7px;
}

.bimg {
}
.smbd {
  /* border: 3px solid white; */
  /* margin: 3px; */
}
.chb {
  color: black;
  font-size: 4vw;
  padding: 6px 15px 0px 5px;
  word-wrap: break-word !important;
}
.chbd {
  background: rgba(255, 255, 255, 0.7);
}
.business {
  margin-bottom: 0px;
  padding: 2px;
  border: 1px solid greenyellow;
  border-radius: 0;
  font-size: 1.3vw;
  text-align: left;
  word-wrap: break-word !important;
}
.image-list {
}
.img-list-img {
  padding: 5px;
  flex-direction: column;
}
.img-list-sm {
  padding: 5px;
  display: flex;
}
.img-list-img-sm {
  word-wrap: 'break-word !important';
  font-size: '70%';
  padding: 5px;
  flex-direction: column;
}
.bph {
  font-weight: bold;
}
.bpb {
}
.bpch {
  color: green;
  word-wrap: 'break-word !important';
  font-weight: bold;
}
.bpc {
  margin: 5px;
  padding: 5px;
}
.lpb {
  padding: 0px;
  word-wrap: break-word !important;
}
@media only screen and (max-width: 1265px) {
  .business {
    font-size: 0.85vw;
    padding-right: 7px;
  }
}
@media only screen and (max-width: 991px) {
  .business {
    font-size: 1.3vw;
    padding-right: 7px;
  }
}
@media only screen and (max-width: 767px) {
  .business {
    font-size: 2.7vw;
    padding-right: 7px;
  }
}
@media only screen and (max-width: 400px) {
  .business {
    font-size: 2.8vw;
    padding-right: 7px;
  }
}
