.listing:hover .chl {
  color: green;
}
.listing:hover {
  border: 1px solid green;
}
/* .square-100 {
  position: relative;
  width: 100%;
  padding-bottom: 100%; 
  margin: 1.66%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
} */
.squareImg {
  float: left;
  position: relative;
  width: 30%;
  padding-bottom: 30%;
  margin: 1.66%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.chl {
  font-weight: bold;
  /* color: black; */
  padding: 6px 15px 0px 5px;
  word-wrap: break-word !important;
}

.lb {
  min-height: 160px;
}
.listing {
  margin-bottom: 0px;
  border: 1px solid greenyellow;
  border-radius: 0;
  font-size: 1vw;
  text-align: left;
  word-wrap: break-word !important;
}

.lp {
  padding: 1px 3px 5px 0px;
  word-wrap: break-word !important;
}
@media only screen and (max-width: 1265px) {
  .listing {
    font-size: 1vw;
  }
}
@media only screen and (max-width: 991px) {
  .listing {
    font-size: 1.4vw;
  }
}
@media only screen and (max-width: 767px) {
  .listing {
    font-size: 2vw;
  }
}
@media only screen and (max-width: 400px) {
  .listing {
    font-size: 2.5vw;
  }
}
