.tiles:hover .ch {
  color: green;
}
.tiles:hover .chst {
  color: green;
}
.tiles:hover {
  border: 1px solid green;
}

.ch {
  font-weight: bold;
  font-size: 0.9vw;
  color: black;
  /* font-size: 0.9vw; */
  padding: 6px 15px 0px 5px;
  word-wrap: break-word !important;
}
.chst {
  font-weight: bold;
  color: black;

  /* font-size: 0.9vw; */
  padding: 5px 5px 0px 5px;
  word-wrap: break-word !important;
}

.tiles {
  margin-bottom: 0px;
  border: 1px solid greenyellow;
  border-radius: 0;
  font-size: 0.9vw;
  text-align: left;
  word-wrap: break-word !important;
}

.lp {
  padding: 1px 3px 5px 5px;
  word-wrap: break-word !important;
}
@media only screen and (max-width: 1200px) {
  .ch {
    font-size: 1.4vw;
  }
  .tiles {
    font-size: 1.4vw;
    padding-right: 7px;
  }
}
@media only screen and (max-width: 767px) {
  .ch {
    font-size: 2.5vw;
  }
  .tiles {
    font-size: 2.5vw;
    padding-right: 7px;
  }
}
@media only screen and (max-width: 700px) {
  .ch {
    font-size: 3.3vw;
  }
  .tiles {
    font-size: 3.3vw;
    padding-right: 7px;
  }
}
@media only screen and (max-width: 400px) {
  .ch {
    font-size: 3.5vw;
  }
  .tiles {
    font-size: 3.5vw;
    padding-right: 7px;
  }
}
